body { background-color: darkgray;}
div { 
text-align: center;
padding: 25px;

}
img {
    height: 80px;
    width: 80px;
    border-radius: 80px;}
    h1 {
  color:rgb(6, 62, 70) ;
  margin: 1px;
}
p{ 
    margin: 5px;
    color: cornsilk; 

}